<div class="container">
  <h2>Hola Mundo</h2>
  <h3>{{ welcome }}</h3>
  <ul>
    @for (task of tasks; track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>
  <hr />
  <h2>{{ 'hola'.repeat(4) }}</h2>
  <hr />
  <input type="text" [value]="name()">
  <input type="number" [value]="age">
  <button [disabled]="disabled">Click Me</button>
  <hr />
  <img [src]="img" alt="">
  <hr />
  <p>Nombre: {{ person.name }}</p>
  <p>Edad: {{ person.age }}</p>
  <img [src]="person.avatar" alt="avatar">
  <hr />
  <button (click)="clickHandler()">Click me</button><br>
  <button (dblclick)="clickHandler()">Double Click</button><hr />
  <p>(change)</p>
  <input type="number" [value]="age" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="name()" (keydown)="kdownHandler($event)">
  <p>(keydown)</p>
  <input type="text" (keydown.enter)="clickHandler()">
  <h1>Signal</h1>
  <input type="text" [value]="person.name" (change)="changeHandler($event)">
  <p>Name: {{ person.name }}</p>
  <h1>New List with Signal</h1>
  @if(person.name === 'Roberto'){
    @if(person.age > 18){
      <p>Hola, soy Roberto y soy mayor de edad</p>
    }
    @else {
    <p>Hola, soy Roberto y soy menor de edad</p>
  }

}
@else {
<p>Hola, no existo</p>
}
<ul>
  <p>Total of Tasks: {{ newTasks().length }}</p>
  @for (task of newTasks(); track task; let i = $index) {
    <li>
      {{ i+1 }} {{ task }}
    </li>
  }
</ul>
<ul>
  @for(task of newTasks(); track task; let i = $index ){
    <li>{{ i }} {{ task }}</li>
    } @empty {
    <li><strong>La lista esta vacia</strong></li>
  }
</ul>
<hr />
<div>
  @switch (person.name) {
    @case ('Roberto') {
      <p>Hola, soy Roberto</p>
    }
    @case ('Evelyn') {
      <p>Hola, soy Evelyn</p>
    }
    @case ('Bruno') {
      <p>Hola, soy Bruno</p>
    }
    @case ('Emilio') {
      <p>Hola, soy Emilio</p>
    }
    @case ('Nicolas') {
      <p>Hola, soy Nicolas</p>
    }
    @case ('Emma') {
      <p>Hola, soy Emma</p>
    }
    @default {
      <p>No soy nadie</p>
    }
  }
</div>
@switch (person.name) {
  @case('Roberto'){
    <p>Hola, soy Roberto</p>
  }
  @case('Evelyn'){
    <p>Hola, soy Evelyn</p>
  }
  @case('Bruno'){
    <p>Hola, soy Bruno</p>
  }
  @case('Emilio'){
    <p>Hola, soy Emilio</p>
  }
  @case('Nicolas'){
    <p>Hola, soy Nicolas</p>
  }
  @case('Emma'){
    <p>Hola, soy Emma</p>
  }
  @default {
    <p>Hola, no existo</p>
  }
}
<hr />
<input type="color" [formControl]="colorCtr">
<p>Color: {{ colorCtr.value }}</p>


</div>
